@model test_work_currencies.Models.CurrenciesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Список валют</h1>
<table class="table">
    <tr><th>Название</th><th>Номинал</th><th>Значение</th></tr>
    @foreach (Currency curr in Model.Currencies)
    {
    <tr><td>@curr.Name</td><td>@curr.Nominal</td><td>@curr.Value</td></tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
<a asp-action="currencies"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)">
    <i></i>
    Назад
</a>
}
@if (Model.PageViewModel.HasNextPage)
{
<a asp-action="currencies"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)">
    Вперед
    <i></i>
</a>
}